/* Top Bar */
.top-bar {
  background: linear-gradient(90deg, #ff5722, #ff9800);
  color: white;
  font-size: 13px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  font-family: cursive;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  font-family: cursive;
}

.logo {
  display: flex;
  flex-direction: column;
}

.brand {
  font-size: 35px;
  font-weight: bold;
  color: #ff5722;
}

.tagline {
  font-size: 13px;
  color: #777;
  margin-top: -4px;
}

.search-container {
  flex-grow: 1;
  padding: 0 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.search-box {
  width: 40%;
  height: 40px;
  font-size: 14px;
}

.search-box input::placeholder {
  color: #777;
  opacity: 1;
}

.search-box .mat-form-field-wrapper {
  padding: 0 8px;
}

.search-box .mat-form-field-flex {
  height: 100%;
  align-items: center;
}

.search-box input {
  padding: 4px 0;
  font-size: 14px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-actions button {
  font-weight: bold; /* Make the text bold */
  text-transform: uppercase; /* Make the text uppercase */
  color: #ff5722; /* Set the text color */
  border: 2px solid #ff5722; /* Add a border with the same color */
  padding: 8px 16px; /* Add padding for better spacing */
  border-radius: 4px; /* Optional: Add rounded corners */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.header-actions button:hover {
  background-color: #ff5722; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

/* Nav Bar */
.nav-bar {
  background-color: #f7f0df ;
  padding: 10px 30px;
  display: flex;
  gap: 20px;
}

.nav-bar a {
  text-decoration: none;
  color: #ff5722;;
  font-weight: bold;
  font-size: 15px;
}

