<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">📚 The Reading Room</span>
    <span class="spacer"></span>
    <a mat-button class="navMenu" routerLink="/books">
      <mat-icon>menu_book</mat-icon> Books
    </a>
    <a mat-button class="navMenu" routerLink="/books/add">
      <mat-icon>add</mat-icon> Add Book
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Welcome to The Reading Room! Grab a seat, open a book, and let your next story begin.</span>
  </mat-toolbar-row>
</mat-toolbar>

  