.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: calc(100vh - 80px);
  padding-top: 10px;
  box-sizing: border-box;
}

.sign-up-card {
  width: 1000px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  overflow: hidden;
  padding: 8px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ff5722;
}

mat-form-field {
  display: block;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
  display: block; 
  margin-bottom: 12px;
}

.formInput {
  margin-left: 10px
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button[mat-button] {
  transition: transform 0.2s ease;
  margin-bottom: 10px;
  background-color: #ff5722; /* Change background color on hover */
  color: white;
}

button[mat-button]:hover {
  transform: scale(1.1);
}

.server-error {
  color: #c62828;
  margin-top: 12px;
  font-weight: 600;
}