/* Book Grid */
.book-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 30px;
  background-color: #fafafa;
}

.book-card {
  width: 180px;
  text-align: center;
}

.book-card img {
  width: 150px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  object-fit: cover; /* Ensure the image fits within the dimensions without distortion */
  border-radius: 4px; /* Optional: Add rounded corners */
  float: left; /* Move the image to the left */
  margin-right: 10px;
  margin-bottom: 20px;
}

.book-card mat-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.book-card mat-card-subtitle {
  font-size: 15px;
  text-align: left;
  margin-bottom: 5px;
  color: #777;
}

.price {
  margin: 5px 0;
  text-align: left;
}

.old-price {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
  margin-left: 5px;
}

.add-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: tomato;
  transition: all 0.3s ease;
}

.add-btn:hover {
  background-color: #ff5722; /* Change background color on hover */
  color: white; /* Change text color on hover */
}