
<!-- Book Carousel / Grid -->
<div class="notification" *ngIf="notificationMessage" [ngClass]="{ 'success': notificationType === 'success', 'error': notificationType === 'error' }">
  {{ notificationMessage }}
</div>
<section class="book-grid">
  <mat-card *ngFor="let book of books" class="book-card">
    <img mat-card-image src="assets/book-covers/the-women.jpg" [alt]="book.title">
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle><strong>Author: </strong>{{ book.author }}</mat-card-subtitle>
    <mat-card-content>
      <!--<p>{{ book.type }}</p>-->
      <p class="price">
        {{ book.price | currency:'INR' }}
        <span class="old-price">{{ book.oldPrice | currency:'INR' }}</span>
      </p>
    </mat-card-content>
    <button mat-raised-button class="add-btn">Add To Basket</button>
  </mat-card>
</section>